{% extends "base.html" %}

{% block content %}

<div class="container">

  <br>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-10">
          <!-- Title -->
          <h4 class="font-weight-bold text-primary">{{ deployment.uuid }}</h4>
        </div>
        <div class="col-md-2 text-right">
          <!-- Button -->
	  <button type="button" class="btn btn-small btn-outline-secondary" onclick="history.back()">
            <span class="fas fa-arrow-left mr-2"></span> Back
          </button>
        </div>
      </div> <!-- / .row -->
    </div>

    <div class="card-body">

      <p><b>Description:</b> {{deployment.description}} </p>

      <!-- start tabs creation section -->
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#DeploymentStatus">Overview</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#InputValues">Input values</a></li>
	{% if deployment.status == 'CREATE_COMPLETE' %}
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#OutputValues">Output values</a></li>
	{% if deployment.vault_secret_key != '[]' or ('storage_encryption' in inputs and inputs['storage_encryption'] == 'True') %}
	<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#SecretsValues">Secrets management</a></li>
	{% endif %}
	{% if inputs['is_behind_vpn'] == 'True' %}
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#VPNValues">VPN management</a></li>
	{% endif %}
	{% endif %}
      </ul>


      <div class="tab-content">

        <div class="tab-pane fade show active" id="DeploymentStatus">
          <br>
          <div class="list-group">
        
            <div class="list-group-item d-flex align-items-center justify-content-between">
              <strong>Status</strong>
              <span class="badge badge-{% if deployment.status == 'CREATE_COMPLETE' %}success{% elif deployment.status == 'CREATE_FAILED' %}danger{% else %}warning{% endif %} badge-pill">
                {{ deployment.status }}
              </span>
            </div>
        
            {% if deployment.status_reason %}
            <div class="list-group-item">
              <strong>Error message</strong>
              <pre class="mt-2 mb-0" style="font-size:13px;white-space:pre-wrap;">{{ deployment.status_reason }}</pre>
            </div>
            {% endif %}
        
            <div class="list-group-item d-flex align-items-center justify-content-between">
              <strong>Created at</strong>
              <span class="text-muted">{{ deployment.creation_time }}</span>
            </div>
        
            <div class="list-group-item d-flex align-items-center justify-content-between">
              <strong>Updated at</strong>
              <span class="text-muted">{{ deployment.update_time }}</span>
            </div>
        
            <div class="list-group-item d-flex align-items-center justify-content-between">
              <strong>Deployed at</strong>
              <span class="text-muted">{{ deployment.provider_name }}</span>
            </div>
        
            {% if deployment.endpoint != '' %}
            <div class="list-group-item d-flex align-items-center justify-content-between">
              <strong>Endpoint</strong>
              <a href="{{ deployment.endpoint }}" target="_blank">{{ deployment.endpoint }}</a>
            </div>
            {% endif %}
        
          </div>

	  <br>

	{% if deployment.status == 'CREATE_COMPLETE' %}
	{% if session['userid'] == deployment.sub %}

        {% if enable_laniakea_utils == "yes" %}
        {% if 'storage_encryption' in inputs and inputs['storage_encryption'] == 'True' %}
        <div class="list-group-item d-flex align-items-center justify-content-between">
          <strong>Encrypted volume status</strong>
          <span>
            <span class="badge" id="status_color"><span id="storage_status_icon" class="fas"></span></span>
            <div class="encrypted_volume_section d-inline-block ml-2"></div>
          </span>
        </div>
        {% endif %}
        {% if '/galaxy' in deployment.endpoint %}
        <div class="list-group-item d-flex align-items-center justify-content-between">
          <strong>Galaxy status</strong>
          <span>
            <span class="badge" id="galaxy_status_color"><span id="galaxy_status_icon" class="fas"></span></span>
            <div class="galaxy_section d-inline-block ml-2"></div>
          </span>
        </div>
        {% endif %}
        {% endif %}

	{% endif %}
	{% endif %}

        
        </div>


	<!-- Input vaules section -->
        <div class="tab-pane fade" id="InputValues">
	{% include "input_values.html" %}
        </div>
	<!-- End input values sections -->

	<!-- Output vaules section -->
        <div class="tab-pane fade" id="OutputValues">
        {% include "output_values.html" %}		
        </div>
	<!-- End output vaules section -->

        <!-- Add secrets section -->
	{% if deployment.vault_secret_key != '[]' or ('storage_encryption' in inputs and inputs['storage_encryption'] == 'True') %}
        <div class="tab-pane fade" id="SecretsValues">
        {% include "secrets_management.html" %}
        </div>
        {% endif %}
        <!-- end secrets section -->

	<!-- add VPN section -->
        {% if deployment.status == 'CREATE_COMPLETE' %} <!-- Display these options only if the deployment is complete -->
        {% if session['userid'] == deployment.sub %} <!-- Show encryption info only if the deployment belong to user (thus avoiding admin) -->
        {% if inputs['is_behind_vpn'] == 'True' %}
	<div class="tab-pane fade" id="VPNValues">
	{% include "vpn_management.html" %}
	</div>
	{% endif %}
	{% endif %}
	{% endif %}
        <!-- end VPN section -->

      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function() {
  $('#luksPassphrase').password();
  {% if deployment.vault_secret_key != '[]'  %}
  {% set secrets_list = deployment.vault_secret_key.replace("'", "").replace("[", "").replace("]", "").split(', ') %}
  {% for k in secrets_list %}
  $('#userSecret_{{k}}').password();
  {% endfor %}
  {% endif %}
});
</script>

<script>
function copyToClipboard() {
  var copyText = document.getElementById("luksPassphrase");
  copyText.select();
  document.execCommand("copy");
}
</script>

<script>
$(document).ready(function () {
    $("#retrieveBtn").click(function () {
        // add spinner to button
        $(this).html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...` );
        return true;
    });
});

{% for k,v in inputs.items() %}
{% if stinputs[k] is defined and stinputs[k].type is defined and stinputs[k].type == "secret" %}
$(document).ready(function () {
	$("#secretBtn-{{k}}").click(function () {
        // add spinner to button
        $(this).html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...` );
        return true;
    });
});
{% endif %}
{% endfor %}
</script>

<script>

async function getVaultSecret(type,key,url)
{
  let secret = "secret placeholder";

  let  response = await fetch(url)
  let result = await response;
  secret = await response.text();

  fillModal(type,key,secret);
  stopSpinner();
};

function fillModal(type,key,secret)
{
    modal_type='#secretModal_'+key
    if(type=='encryption'){
      modal_type="#newModal"
    }
    $(document).ready(function(){
      $(modal_type).on('show.bs.modal', function () {
        var modal = $(this)
        modal.find('.modal-body input').val( secret );
      });
      $(modal_type).modal("show");
    });
}

function stopSpinner()
{
  $("#retrieveBtn").html( `<span class="fas fa-lock mr-1"></span> Reveal` );
  $("#retrieveBtn").prop('disabled', false);

  {% if deployment.vault_secret_key != '[]' %}
  {% set secrets_list = deployment.vault_secret_key.replace("'", "").replace("[", "").replace("]", "").split(', ') %}
  {% for k in secrets_list %}
  $("#secretBtn-{{k}}").html( `<span class="fas fa-lock mr-1"></span> Reveal` );
  $("#secretBtn-{{k}}").prop('disabled', false);
  {% endfor %}
  {% endif %}

}
</script>

<script>
  function toggle(x) {
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

<!-- Laniakea Utils section -->

<!--script>
window.onload = function() {
  console.log('test')
}
</script-->

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip()
});
</script>

<script>

// Galaxy section
{% if '/galaxy' in deployment.endpoint %}

checkGalaxyStatus = () => {
  temp = check_status('{{ url_for('laniakea_utils_bp.is_online', depid=deployment.uuid) }}')

  let g_sc = document.getElementById("galaxy_status_color");
  let g_si = document.getElementById("galaxy_status_icon");
  temp.then(value => {
    if( value == '200' || value == '302') {
      g_sc.className = "badge badge-pill badge-success";
      g_si.className = "fas fa-globe-europe mr-2";
      $('#galaxy_status_color span').text(' On-line ');
    } else {
      g_sc.className = "badge badge-pill badge-danger";
      g_si.className = "fas fa-unlink mr-2";
      $('#galaxy_status_color span').text(' Off-line ');

      {% if enable_luks_api_integration == "yes" and 'storage_encryption' in inputs and inputs['storage_encryption'] == 'True' %}
      promise_storage_encryption_status = check_status('{{ url_for('luks_api_bp.encrypted_volume_status', depid=deployment.uuid) }}')
      promise_storage_encryption_status.then(value => {

        var storage_encryption_status = value
        if (storage_encryption_status == 'unmounted') {
          var galaxy_startup_btn = `<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Please mount the encrypted storage volume before">
                       <button type="button" class="btn btn-outline-danger btn-sm" style="pointer-events: none;" disabled>
                       <span class="fas fa-key mr-2"></span>Try to restart Galaxy
                     </button>
                  </span>`
        } else {
          var galaxy_startup_btn = `<button id="galaxyStartupBtn" class="btn btn-outline-danger btn-sm" role="button" onclick="galaxyStartup( href='{{ url_for('laniakea_utils_bp.galaxy_startup', depid=deployment.uuid) }}' )">
                       <span class="fas fa-key mr-2"></span>Try to restart Galaxy
                     </button>`
        }
        $('.galaxy_section').append(galaxy_startup_btn);

      });
      {% endif %}

    }
  });

}

async function galaxyStartup(url)
{

  $('#galaxyStartupBtn').html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> This may take some time. Please wait!` );
  $('#galaxyStartupBtn').prop('disabled', true);

  let response = await fetch(url)
  let result = await response;
  galaxy_status = await response.text()
  reload_page()
}

document.getElementById("galaxy_status_color").onload = checkGalaxyStatus();

{% endif %}

// Storage encryption section
{% if enable_luks_api_integration == "yes" %}
{% if 'storage_encryption' in inputs and inputs['storage_encryption'] == 'True' %}

checkLUKSVolumeStatus = () => {
  let sc = document.getElementById("status_color");
  let si = document.getElementById("storage_status_icon");
  temp = check_status('{{ url_for('luks_api_bp.encrypted_volume_status', depid=deployment.uuid) }}')
  temp.then(value => {
    if( value == 'mounted') {
      sc.className = "badge badge-pill badge-success";
      si.className = "fas fa-lock-open mr-2";
      $('#status_color span').text(' Mmounted ');
    } else if (value == "unmounted") {
      sc.className = "badge badge-pill badge-danger";
      si.className = "fas fa-lock mr-2";
      $('#status_color span').text(' Unmounted ');
      var luksbtn = `<button type="button" id="luksOpenBtn" class="btn btn-outline-danger btn-sm" onclick="mountLUKSVolume( href='{{ url_for('luks_api_bp.encrypted_volume_open', depid=deployment.uuid) }}' )">
                       <span class="fas fa-key mr-2"></span>Unlock and mount volume
                     </button>`
      $('.encrypted_volume_section').append(luksbtn);
    } else {
      sc.className = "badge badge-pill badge-warning";
      $('#status_color span').text(' Unavailable ');
    }
  });
}

async function mountLUKSVolume(url)  {
  $('#luksOpenBtn').html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...` );
  $('#luksOpenBtn').prop('disabled', true);
  let response = await fetch(url);
  let result = await response;
  encrypted_volume_status = await response.text();
  reload_page();
}

function reload_page() {
  location.reload();
}

document.getElementById("status_color").onload = checkLUKSVolumeStatus();

{% endif %}
{% endif %}

// Common section
async function check_status(url)
{
  let response = await fetch(url);
  let result = await response;
  _status = await response.text();
  return _status;
}

</script>
<!-- Laniakea Utils section -->

{% endblock %}
