<footer class="footer">
  <div class="container-fluid">
    <div class="row my-2">
        <div class="col-md-5 my-0">© 2019 ELIXIR-ITALY Laniakea<br> 
            <p style="color:white;font-size:10px;">Laniaka has been developed in the framework of the INDIGO-Datacloud project funded by the European Commision H2020 research and innovation program under grant agreement RIA 653549.</p>
        </div>
	<div class="col-md-5 my-0">
	  <p>	
	     <a href="https://elixir-italy.org" target="_blank"><img src="https://github.com/Laniakea-elixir-it/resources/raw/master/logos/ELIXIR_ITALY_orange.png" /><a/>
	  </p>   
	</div>
	<div class="col-md-2 mt-4" style="display:flex;justify-content:space-around;">
		<a href="https://twitter.com/elixir_it" target="_blank" alt="Twitter" title="Twitter">
                  <i class="fab fa-twitter" style="color:white;"></i>
		</a>
		<a href="https://github.com/laniakea-elixir-it" target="_blank" alt="Github" title="Github">
                  <i class="fab fa-github" style="color:white;"></i>
	        </a>
		<a href="https://hub.docker.com/u/laniakeacloud/" target="_blank" alt="DockerHub" title="DockerHub">
                  <i class="fab fa-docker" style="color:white;"></i>
		</a>
		<a href="https://laniakea.readthedocs.io" target="_blank" alt="Documentation" title="Documentation">
                  <i class="fa fa-book" style="color:white;"></i>
		</a>
                <a href="https://github.com/Laniakea-elixir-it/laniakea/issues" target="_blank" alt="BugReport" title="Report a Bug">
                  <i class="fas fa-bug" style="color:white;"></i>
                </a>
	</div>    
    </div>
  </div>	  
</footer>


<style>
/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute; 
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #262727;
  color: white;	     
}

.footer img {
height: 55px;
}

</style>
